<launch>
  <node name="mujoco_ros" pkg="mujoco_ros" type="mujoco_ros" required="true" respawn="false" output="screen">
   <param name="model_file" type="string" value="$(find dyros_jet_description)/robots/dyros_jet_robot_hw.xml"/>
  </node>
  <include file="$(find dyros_jet_launch)/launch/common.launch">
    <arg name="run_mode" value="mujoco" />
  </include>
  <node name="dyros_jet_gui" pkg="dyros_jet_gui" type="dyros_jet_gui" required="true" respawn="false" output="screen">
  </node>
</launch>
